<html>

<!--include head.html -->
<head>
    {{> meta}}
</head>

<body>
    <!-- include left-panel -->
    {{> left_panel}}

    <div id='right-panel' class='right-panel'>
        <!--include header.html-->
        {{> header}}
        <!-- include breadcrumbs-->

        <div class='content mt-3'>
            <div class='animated fadeIn'>
            <!-- include components -->
            <div class='row'>
                <div class='col-md-12'>
                    {{{body}}}
                </div>
            </div>
            
            
            </div>
        </div>
    </div>

    {{> scripts}}
    <!-- include scripts -->
</body>
</html>