<div class='card-body' id='root'>
    
</div>
<script src="/assets/js/react.js"></script>

<!-- <div id='root'></div> -->

<script>
    var $jq = jQuery.noConflict();
    function load(res){
        if(!res[0]._id){
            return;
        }
        $jq('#search').append($jq('<li></li>').addClass('list-group-item')
        .append(res[0].productName)
        );
    }
    function changeEvent(text){
        $jq.get("/api/product/"+text,load);
    }
    
    $jq("#inputId").change(function(){
        console.log('changed!!');
        changeEvent($jq('#inputId').val());
    })
</script>