<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Add Product Form</strong>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                <div class='row form-group'>
                        <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Select Product</label>
                            </div>
                            <div class="col-12 col-md-9">
                                    <select  data-placeholder="Choose a Product..." id='select-product' class="standardSelect" tabindex="-1">
                                            
                                        </select>
                            </div>
                   
                    
                

                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="disabled-input" class=" form-control-label">Product ID</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input id="disabled-input" name="disabled-input" placeholder="Choose Product first" disabled="" class="form-control"
                            type="text">
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Product Name</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input id="text-input" disabled='true' name="text-input" placeholder="Choose Product first" class="form-control" type="text">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Add Quantity</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input id="text-input" name="text-input" placeholder="Amount of quantity to be added" class="form-control" type="number">
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="textarea-input" class=" form-control-label">Description</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea name="textarea-input" disabled='true' id="textarea-input" rows="5" placeholder="Choose Product first" class="form-control"></textarea>
                    </div>
                </div>

                <div class="row form-group">
                        <div class="col col-md-3">
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="submit" class='btn btn-primary' name="" value='Add'>
                        </div>
                    </div>
                

            </form>
        </div>
       
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
<script>
    var currentRequest = null ;
    $('#select-product').selectize({
    valueField: 'title',
    labelField: 'title',
    searchField: 'title',
    options: [],
    create: true,
    render: {
        option: function(item, escape) {
            
            console.log(item);
            return '<p>'+item.productName+'</p>';
        }
    },
    load: function(query, callback) {
        if (!query.length) return callback();
        currentRequest = $.ajax({
            url: '/api/products/search/'+query,
            type: 'GET',
            beforeSend : function()    {           
            if(currentRequest != null) {
            currentRequest.abort();
                }
            },
            error: function() {
                callback();
            },
            success: function(res) {
                console.log(res);
                callback(res);
            }
        });
    }
});
</script>