<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Create Item Form</strong>
        </div>
        <div class="card-body">
            <form action="/items/create" method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal">

                

              


                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Item Name</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input id="text-input" name="item_name" placeholder="Enter Item Name" class="form-control" type="text">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Unit Type</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input id="text-input" name="unit_type" placeholder="Type of unit" class="form-control" type="text">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="cost" class=" form-control-label">Per Unit Cost</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input id="text-input" name="unit_cost" placeholder="Per Unit Cost" class="form-control" type="number">
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="description" class=" form-control-label">Description</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea name="description" id="item_description" rows="5" placeholder="Enter Description" class="form-control"></textarea>
                    </div>
                </div>

                <div class="row form-group">
                        <div class="col col-md-3">
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="submit" class='btn btn-primary' name="submit" value='Create'>
                        </div>
                    </div>
                

            </form>
        </div>
       
    </div>
</div>
