

<html>

<!--include head.html -->
<head>
    <% include ../partials/meta.html %>
</head>

<body>
    <!-- include left-panel -->
  

  
        <div class='container'>
            <div class='animated fadeIn'>
            <!-- include components -->
            <div class='row justify-content-center' style='height:100vh'>
                <div class='col-md-5 align-self-center' >
                    <div class='jumbotron'>
                        <h4 class='lead text-center'>Login Page</h4>
                        <hr />
                    <% include ../components/login.html %>
                </div>
                </div>
            </div>
            
            
            </div>
        </div>
    
    <% include ../partials/scripts.html %>
    <!-- include scripts -->
</body>
</html>